# Environment and secrets
.env*
.venv
.secrets
token.json

# Configuration files
config.toml
config.toml.bak
*.dev.*

# Python-related
*.pyc
__pycache__
*_DONOTUSE.py
test*.py

# JSON files
*.json

# Database
db_init_data
*.sql

# Archive files and directories
archive/
archive

# Nginx-related
*.key
*.crt
certs/
*.conf

# Other
.DS_store
.elasticbeanstalk
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
