<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ lab_name }} Webtool - {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/main.js') }}" ></script>
    <!-- <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/fetchWithAuth.js') }}" ></script> -->

    {% block scripts %}{% endblock %}

</head>
<body>
    <button class="menu-show" id="menu-show-btn" onclick="toggleNav()">☰</button>

    <nav class="nav sidenav open" id="mySidenav">
        <button class="menu-toggle" onclick="toggleNav()">×</button>
        <h2>Menu</h2>
        <a href="{{ url_for('main.index') }}"><div class="menu__link">🏠 Home</div></a>
        <a href="{{ url_for('tracker.test_tracker') }}"><div class="menu__link">👣 Test Tracker</div></a>
        <a href="{{ url_for('viewer.data_viewer') }}"><div class="menu__link">📋 Data Viewer</div></a>
        <a href="{{ url_for('tools.data_tools') }}"><div class="menu__link">⚙️ Tools</div></a>
        <a href="{{ url_for('validator.validate') }}"><div class="menu__link">⚠️ Test Validator</div></a>
        {% if session.user_info %}
        <a href="{{ url_for('profile.load_profile') }}"><div class="menu__link">👤 Profile</div></a>
        <a href="{{ url_for('auth.auth_logout') }}"><button type="button" class="btn logout-btn menu__link" id="logout-btn">Log out</button></a>
        {% endif %}
    </nav>

    
    <div class="main-container">
        <main>
            <header><h1 class="">{{ lab_name }} Lab Webtool</h1></header>
            {% block content %}{% endblock %}
            {% block error %}{% endblock %}
        </main>
    </div>

</body>
</html>
