{% extends 'base.html' %}

{% block title %}Data Dashboard{% endblock %}

{% block scripts %}
{% endblock %}


{% block content %}
<div>
    <!-- <h3>Still under development...</h3> -->
    {% if not session.user_info %}
        <div>
            <h2>Test Validator</h2>
            <p>Please log in first.</p>
            <a href="{{ url_for('auth.auth_login', next=request.path, provider='google') }}"><button type="button" class="btn login-btn" id="login-btn">Log in</button></a>
        </div>
    {% else %}
        <div id="validator-container">
            <!-- Populate test tracks dynamically -->
        </div>
    {% endif %}
</div>

{% endblock %}