{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="tool-description">
        <p>
            Welcome to our internal research tool! This app helps streamline team workflows by making it easier to:
            <ul>
                <li>Track and manage submitted test files</li>
                <li>Browse and query internal research datasets</li>
                <li>Visualize data trends and common metrics</li>
                <li>Review submitted forms (admin access only)</li>
            </ul>
            Everything is secured through U-M login, and the app is built to grow as our needs evolve.
        </p>
        <details>
            <summary style="cursor: pointer;"><strong>Technical details (for the curious)</strong></summary>
            <ul>
                <li>Built with Flask and modular Blueprints</li>
                <li>Google OAuth2 handles authentication</li>
                <li>PostgreSQL stores user actions and data sources</li>
                <li>Redis caches filtered data for performance</li>
                <li>Interactive visualizations powered by Dash/Streamlit <b style="color: #428f42ea;">TO-DO</b></li>
                <li>Containerized with Docker and deployable on EC2 <b style="color: #428f42ea;">TO-DO</b></li>
            </ul>
        </details>
    </div>
    <br>
    <div class="login">
        {% if not session.user_info %}

            <!-- <a href="{{ url_for('auth.auth_login', provider='google') }}"><img src="{{ url_for('static', filename='img/web_neutral_sq_SI@4x.png') }}" /></a> -->
            <a href="{{ url_for('auth.auth_login') }}"><button type="button" class="btn login-btn" id="login-btn">Log in with umich account</button></a>
        
        {% else %}
            <a href="{{ url_for('auth.auth_logout') }}"><button type="button" class="btn logout-btn" id="logout-btn">Log out</button></a>
        {% endif %}
    </div>

{% endblock %}