{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block logout_btn %}
{% if session.user_info %}
<a href="{{ url_for('auth.auth_logout') }}"><button type="button" class="btn logout-btn menu__link" id="logout-btn" onclick="logoutToHome()">Log out</button></a>
{% endif %}
{% endblock %}

{% block content %}
<div>
     <div>
        <h2>Profile</h2>
        {% if not session.user_info %}
            <p>Please log in first.</p>
            <a href="{{ url_for('auth.auth_login', next=request.path, provider='google') }}"><button type="button" class="btn login-btn" id="login-btn">Log in</button></a>
        
        {% elif session.user_role != 'admin' and session.user_role != 'dev' %}
            <p>Sorry, you have to be an Admin or Developer to access this page.</p>

        {% else %}
            <div id="profile-container">
                <!-- Populate user profile -->
            </div>

            {% if session.user_role == 'admin' or session.user_role == 'dev' %}
            <h2>Manage Users</h2>
            <div id="profile-manage-container">
                <!-- Populate profile manage tab dynamically -->
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}