{% extends 'base.html' %}

{% block title %}Test Tracker{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/parseFormData.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/test_tracker.js') }}"></script>
{% endblock %}

{% block logout_btn %}
{% if session.user_info %}
<a href="{{ url_for('auth.auth_logout') }}"><button type="button" class="btn logout-btn menu__link" id="logout-btn" onclick="logoutAndStay()">Log out</button></a>
{% endif %}
{% endblock %}


{% block content %}
<div>
    {% if not session.user_info %}
    <div>
        <h2>Test Tracker</h2>
        <p>Please log in first.</p>
        <a href="{{ url_for('auth.auth_login', next=request.path, provider='google') }}"><button type="button" class="btn login-btn" id="login-btn">Log in</button></a>
    </div>
    {% else %}
    <div class="form">
        <h2>Test Tracker</h2>
        
        
        <form action="{{ url_for('tracker.submit_data') }}" method="POST">
            <div class="form_owner"><label for="form_owner">Form owner: </label><div id="form_owner">{{ session['user_info']['user_id'] }}</div></div>
            <div id="form-metadata" class="form-element">
                <!-- <div>
                    <label for="form_owner">Who is filling this form:</label>
                    <input type="text" id="form_owner" name="form_owner" value="{{ session['user_info']['user_id'] }}" readonly>
                </div> -->
                <div>
                    <label for="subject_id">Subject ID:</label>
                    <input type="text" id="subject_id" name="subject_id">
                </div>
                <div>
                    <label for="test_date">Test Date:</label>
                    <input type="date" id="test_date" name="test_date">
                </div>
                <!-- <div>
                    <label for="test_id">Test ID:</label>
                    <input type="text" id="test_id" name="test_id">
                </div> -->
                <div>
                    <label for="test_type">Test Type:</label>
                    <select id="test_type" name="test_type" multiple class="multi-select">
                        <!-- <option>Choose an option</option> -->
                    </select>
                </div>
                <div>
                    <label for="visit_number">Visit Number:</label>
                    <select id="visit_number" name="visit_number">
                        <!-- <option>Choose an option</option> -->
                    </select>
                </div>
            </div>

            <div class="form-element">
                <legend>Device(s) worn during the test:</legend>
                <div id="device-container">
                    <!-- dynamic device rows -->
                </div>
            </div>

            <button type="button" class="btn add-btn" onclick="addRow(getDeviceOptions())">
                <i class="fa fa-plus"></i> Add another device
            </button>
            <button type="submit" class="btn submit-btn">Submit</button>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}