{% extends 'base.html' %}

{% block title %}Test Validator{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/testValidator.js') }}"></script>
{% endblock %}


{% block content %}
<div>
    <h2>Test Validator</h2>
    {% if not current_user.is_authenticated %}
        <p>Please log in first.</p>
        <a href="{{ url_for('auth.auth_login', next=request.path, provider='google') }}"><button type="button" class="btn login-btn" id="login-btn">Log in</button></a>
    
    {% elif current_user.role in ['admin', 'dev'] %}
        <div id="validator-container">
        <!-- Populate test tracks dynamically -->
        </div>
    
    {% else %}
        <p>Sorry, you have to be an Admin or Developer to access this page.</p>

    {% endif %}
</div>

{% endblock %}