{% extends 'base.html' %}

{% block title %}Test Validator{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/testValidator.js') }}"></script>
{% endblock %}

{% block logout_btn %}
{% if session.user_info %}
<a href="{{ url_for('auth.auth_logout') }}"><button type="button" class="btn logout-btn menu__link" id="logout-btn" onclick="logoutAndStay()">Log out</button></a>
{% endif %}
{% endblock %}

{% block content %}
<div>
    <!-- <h3>Still under development...</h3> -->
     <div>
        <h2>Test Validator</h2>
        {% if not session.user_info %}
            <p>Please log in first.</p>
            <a href="{{ url_for('auth.auth_login', next=request.path, provider='google') }}"><button type="button" class="btn login-btn" id="login-btn">Log in</button></a>
        
        {% elif session.user_role != 'admin' and session.user_role != 'dev' %}
            <p>Sorry, you have to be an Admin or Developer to access this page.</p>

        {% else %}
            <div id="validator-container">
            <!-- Populate test tracks dynamically -->
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}